.images {
	height: 200px;
	width: 200px;
}
#RedGem {
  background-image: url(../images/RedGem.png);
  background-repeat: no-repeat;
  background-position: 45% 45%;
}
#BlueGem {
  background-image: url(../images/BlueGem.png);
  background-repeat: no-repeat;
  background-position: 45% 45%;
}
#GreenGem {
  background-image: url(../images/GreenGem.png);
  background-repeat: no-repeat;
  background-position: 45% 45%;
}
#YellowGem {
  background-image: url(../images/YellowGem.png);
  background-repeat: no-repeat;
  background-position: 45% 45%;
}